<h1>Welcome to Omniauth Trial!!</h1>
<p>Please sign in with one of the services below.</p>
<div>
  <%= link_to image_tag("Twitter.png"), "/auth/twitter" %>
  <%= link_to image_tag("Facebook.png"), "/auth/facebook" %>
</div>